/* supported emoji:
👿🥶😢😘🤮🫤😷🧐😮😛😀😗😙🤑☺️😴😞😉🤪😟😲😖😕🤠😩🥸🫥😡😑😋😵🤕🤨😵‍💫😂😶☹️😦😬😃😄😅🥵🫠🤢🤓😐🥳😆😣🙂🤣🫡💀🙁😇🥰😈😊😎🥲😏😫😝😒🙃😜🥴
*/
img[alt|="👿"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/imp.png"); }
img[alt|="🥶"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/cold_face.png"); }
img[alt|="😢"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/cry.png"); }
img[alt|="😘"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/kissing_heart.png"); }
img[alt|="🤮"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/face_vomiting.png"); }
img[alt|="🫤"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/face_with_diagonal_mouth.png"); }
img[alt|="😷"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/mask.png"); }
img[alt|="🧐"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/face_with_monocle.png"); }
img[alt|="😮"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/open_mouth.png"); }
img[alt|="😛"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/stuck_out_tongue.png"); }
img[alt|="😀"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/grinning.png"); }
img[alt|="😗"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/kissing.png"); }
img[alt|="😙"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/kissing_smiling_eyes.png"); }
img[alt|="🤑"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/money_mouth.png"); }
img[alt|="☺️"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/relaxed.png"); }
img[alt|="😴"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/sleeping.png"); }
img[alt|="😞"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/disappointed.png"); }
img[alt|="😉"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/wink.png"); }
img[alt|="🤪"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/zany_face.png"); }
img[alt|="😟"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/worried.png"); }
img[alt|="😲"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/astonished.png"); }
img[alt|="😖"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/confounded.png"); }
img[alt|="😕"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/confused.png"); }
img[alt|="🤠"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/cowboy.png"); }
img[alt|="😩"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/weary.png"); }
img[alt|="🥸"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/disguised_face.png"); }
img[alt|="🫥"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/dotted_line_face.png"); }
img[alt|="😡"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/rage.png"); }
img[alt|="😑"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/expressionless.png"); }
img[alt|="😋"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/yum.png"); }
img[alt|="😵"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/dizzy_face.png"); }
img[alt|="🤕"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/head_bandage.png"); }
img[alt|="🤨"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/face_with_raised_eyebrow.png"); }
img[alt|="😵‍💫"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/face_with_spiral_eyes.png"); }
img[alt|="😂"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/joy.png"); }
img[alt|="😶"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/no_mouth.png"); }
img[alt|="☹️"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/frowning2.png"); }
img[alt|="😦"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/slight_frown.png"); }
img[alt|="😬"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/grimacing.png"); }
img[alt|="😃"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/smiley.png"); }
img[alt|="😄"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/smile.png"); }
img[alt|="😅"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/sweat_smile.png"); }
img[alt|="🥵"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/hot_face.png"); }
img[alt|="🫠"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/melting_face.png"); }
img[alt|="🤢"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/nauseated_face.png"); }
img[alt|="🤓"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/nerd.png"); }
img[alt|="😐"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/neutral_face.png"); }
img[alt|="🥳"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/partying_face.png"); }
img[alt|="😆"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/laughing.png"); }
img[alt|="😣"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/persevere.png"); }
img[alt|="🙂"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/slight_smile.png"); }
img[alt|="🤣"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/rofl.png"); }
img[alt|="🫡"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/saluting_face.png"); }
img[alt|="💀"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/skull.png"); }
img[alt|="🙁"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/slight_frown.png"); }
img[alt|="😇"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/innocent.png"); }
img[alt|="🥰"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/smiling_face_with_3_hearts.png"); }
img[alt|="😈"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/smiling_imp.png"); }
img[alt|="😊"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/blush.png"); }
img[alt|="😎"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/sunglasses.png"); }
img[alt|="🥲"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/smiling_face_with_tear.png"); }
img[alt|="😏"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/smirk.png"); }
img[alt|="😫"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/tired_face.png"); }
img[alt|="😝"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/stuck_out_tongue_closed_eyes.png"); }
img[alt|="😒"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/unamused.png"); }
img[alt|="🙃"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/upside_down.png"); }
img[alt|="😜"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/stuck_out_tongue_winking_eye.png"); }
img[alt|="🥴"] { content: url("https://github.com/kran27/DiscordNewEmojis/blob/main/emoji/woozy_face.png"); }